<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.announcify.plugin.twitter.plume"
	android:versionCode="1"
	android:versionName="0.1">

	<uses-permission
		android:name="com.announcify.PERMISSION_IM_A_PLUGIN" />
	<uses-permission
		android:name="android.permission.READ_CONTACTS" />
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS" />

	<application
		android:icon="@drawable/icon"
		android:label="">

		<activity
			android:name=".activity.SettingsActivity"
			android:label="">

			<intent-filter>
				<action
					android:name="com.announcify.plugin.twitter.plume.SETTINGS" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".receiver.AnnouncifyReceiver"
			android:label="">

			<intent-filter>
				<action
					android:name="com.announcify.ACTION_PLUGIN_CONTACT" />
			</intent-filter>
		</receiver>

		<receiver
			android:name="receiver.PlumeReceiver"
			android:label="">

			<intent-filter>
				<action
					android:name="com.levelup.touiteur.action.GLOBALNOTIF" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".receiver.RingtoneReceiver"
			android:label="">

			<intent-filter>
				<action
					android:name="com.announcify.plugin.twitter.plume.ACTION_START_RINGTONE" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="com.announcify.plugin.twitter.plume.ACTION_STOP_RINGTONE" />
			</intent-filter>
		</receiver>

		<service
			android:name=".service.WorkerService" />
	</application>

	<supports-screens
		android:normalScreens="true"
		android:smallScreens="true"
		android:resizeable="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="10" />
</manifest> 